.article{
    background-image: url("../imgs/articles.jpg");
border-image-repeat: no-repeat;
}
.pagination{
    margin-bottom: 40px;
}
.mine{
    position: relative;
    margin-bottom: 40px;
}

 .our h2::before{
    content: "";
    width: 5px;
    height: 45px;
    background-color: #3aade6;
    position: absolute;
    right:-20px;
    top: 5px;
    bottom: 35px;
}