@font-face{
  font-family:Cairo;
  src: url("../fonts/Cairo-Regular.ttf");
}
#main{
  font-family: Cairo;
}
*{
  font-family: Cairo;
}
.navbar-brand img{
    height: 70px;
}
.nav-item{
    text-align: left;
}
.navbar-toggler{
    border: none;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58,173,230,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
  button .navbar-toggler:focus{
border: none;
  }
  .navbar-toggler:active
  {
    color: #3aade6 ;
  }
  /***********info***************/
  .start{
    max-width: 100%;
     /* float: left;
    align-items: left;*/
       
   }
 .abs {
    /* position: relative;*/
    background-image: url("../imgs/header-side.jpg");
    background-repeat: no-repeat;
    background-size: contain;
   }
.tech{
  margin-top: 10%;
}
 /*.sloga h1{
      position: absolute;
      
      z-index: 2;
      font-family: cairo;
  }
   .sloga h1{
     top: 20px;
      right: 50px;
  }*/

  /***********home************/
  .emptty{
   
   border: 1px solid #3aade6;
    opacity: 1;
    width: 50px;
  }
 
   .are img{
     /* height: 250px;
      margin-top: 0px;
      position: absolute;
      top: -100px;
      left: 140px;
      right: 140px;
      height: 350px;*/
      max-width: 70%;
  }
  .paragraph {
  margin-top: 15%;
font-size: 20px;
  }
  
  /****************cards*******************/
  .bg{
    background-image: url('../imgs/we-offer.png');
    padding: 150px 0;
}
.card{
   width: 350px;
        border-radius: 30px;
}.card p{
    text-align: center;
}
  .card h4{
      color: #95d8fa;
text-align: center;  }

  /* .owl-prev , .owl-next button{
margin: auto; 
 cursor: pointer;
  }*/

  /*****************works******************/
.help {
    margin-top: 70px;
}
.card {
  margin-top: 20px;
  margin-right: 20px;
}
.dism{
  border-radius: 30px 30px 0 0;
}
.kalam{
  
  background-color: white;
 border-radius: 0 0 30px 30px;
 height: 80px;

}
 .hk {
    color: black;
    text-align: center;
    padding-top: 15px;
} 
.some{
background-image: url(../imgs/bg30-Ar1web.gif);
border-image-repeat: repeat;
  }
   .affirm, .btn, .additional{
    background-color: #233142;
    color: white;
    border: 1px solid #233142;
border-radius: 50px;
width: 200px;
height: 50px;
  }
 .affirm .blink {
text-decoration: none;
color: white;
  }
  .watch {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /************************add*******************************/
  
  /*.addimg{
    background-image: url('../imgs/articles.jpg');
   background-repeat: no-repeat;
   
  
z-index: 0;
} */

/* .carall{
  z-index: 1;
}
 .micro ,.web{
    margin: 30px 10px 30px 100px;}
  .micro{
    margin-right: 250px;}*/
     /*.carall{
      background-image: url('../imgs/articles.jpg');
    }*/
   /* .add{
      background-image: url('../imgs/articles.jpg');
    }*/
    .art{
      max-width: 50%;
    }
    
   .container .card{
    box-shadow: 4px 6px 3px rgba(63, 12, 20, 0.5);
    border-radius: 30px;
   
   }
  .additional {
    height: 50px;
    width: 80px;
    display: inline-block;
  }
    /*margin-left: 280px;
    margin-bottom:20px;*/
  
 
  /*.pagination{
    margin-left:500px;
  }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
    .owl-item cloned
  .pagination a.active {
    background-color:#007bff ;
    color: white;
  }*/
  /**************************padges**************************/
   
  .pcd{
    background-image: url('../imgs/our-client-bg.jpg');
   background-size:100% !important;
   }
   .owl-carousel pic img{
     width: 80%;
     margin: 50px;
   }
   .owl-carousel pic .owl-carousel .owl-nav {
    display: flex;
    justify-content: center;
}
.owl-nav {
  text-align: center;
}
.owl-nav {
 /* transform: scale(2.5);*/
 font-size: 60px;
}
.owl-item img {
  max-width: 120px;
  margin: auto;
}
.owl-stage {
  margin-top:15px;
}
.owl-nav button {
  outline:none;
}
.owl-nav button:nth-of-type(1) {
  margin-left: 4px;
}
  /*.owl-carousel pic {
    display: flex;
    align-items: center;
    justify-content: center !important;
    position: relative;
  }
  {
  position: absolute;
  z-index: 1;
  margin-top: 30px;
  width: 50px;
}
 

  /*
     .charge{
      margin-top: 100px;
      display: inline-block !important;
       width: 120px !important;
        /*flex-shrink: 0 !important;
       margin-right: 50px;
       margin-left: -550px;
      
  
  }*/
   
  /**********************footer*******************/
  .footpic{
    background-image: url('../imgs/footer.jpg');
    background-size: cover;
 }
 .center{
margin-top: 20%;
margin-bottom: 20%;
max-width: 50%;
  }
  .center-two{
margin-top: 50%;  
}
 .create-two{
  color: white;  

 }
 .icons a{
   text-decoration: none;
   color: white;
margin-right: 5px;
font-size: 35px;
 }
 
  /* .footer{
     display: flex;
     flex-wrap: nowrap;

   } 
   .footpic img{
     width: 100%;
   }
   .footpic{
     position: relative;
    }
    .apps img {
    position: absolute;
      z-index: 2;
      top:130px;
      bottom: 200px;  
     width: 300px; 
   }
  .side img{
    margin-right: 600px;
    margin-top: 0px;
    margin-bottom: 500px;
    /*float: left;*/

  /* .side .create p{
  display: inline-block;
     color:white;
    float: left;
    }*/